.blog-container {
    margin: 30px;
    width: 100%;
}

table.paleBlueRows {
    border: 1px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 50px;
}

table.paleBlueRows td,
table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 10px 10px;
}

table.paleBlueRows tbody td {
    font-size: 20px;
}

table.paleBlueRows tr:nth-child(even) {
    background: #FBF7F4;
}

table.paleBlueRows thead {
    background: #CCC1BE;
    border-bottom: 5px solid #FFFFFF;
    color: black;
}

table.paleBlueRows thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}

table.paleBlueRows thead th:first-child {
    border-left: none;
}

table.paleBlueRows tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
}

table.paleBlueRows tfoot td {
    font-size: 14px;
}

.input-label {
    font-size: 20px;
}

.input-container{
    width: 80%;
    border-radius: 5px;
    border: 1px solid;
    height: 30px;
    font-size: 16px;
}

.input-post{
    width: 80%;
    border-radius: 5px;
    border: 1px solid;
    height: 150px;
    font-size: 16px;
}

.fixed {
    display: flex;
}

