---
import { About } from "@components/About";
import Layout from "@layout";
---
<Layout title="Sobre Nosotras">
    <section class="comunidad">
        <h1>Fundadoras</h1>
        <p>Aquí van las fundadoras</p>
        <h1>Colaboradoras</h1>
        <p>Aquí van las Colaboradoras</p>
    </section>
</Layout>
<style>
    .comunidad{
        display: block;
        place-content: center;
    }
</style>