---
import Layout from '@layout'
---

<Layout title='Sobre Nosotras'>
  <section class='comunidad'>
    <h1>Nosotras</h1>
    <p>Aquí van las fundadoras</p>
    <h1>Colaboradoras</h1>
    <p>Aquí van las Colaboradoras</p>
  </section>
</Layout>
<style>
  .comunidad {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }
</style>
