.about-page{
    display: flex;
    gap: 1.5em;
    background-color: var(--color-primary);
    color: #FFF;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
}

h1{
    color: #FFF;
}

@media(max-width: 768px){
    .about-page{
        display: block;
    }
}