.landing-page{
    display: block;
    align-items: flex-start;
    height: 100vh;
}

.title {
    color: #000000;
    font-size: 8rem;
    font-weight: bold;
    padding-left: 40px;
}

.sub-title {
    color: #000000;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    padding-left: 40px;
}

