.landing-page{
    display: block;
    align-items: flex-start;
    height: 100vh;
}

.title {
    color: #000000;
    font-size: 8rem;
    font-weight: bold;
    padding-left: 40px;
}

.sub-title {
    color: #000000;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    padding-left: 40px;
}

iframe {
    margin-top: 2rem;
    margin-left: 80px;
    border-radius: 34px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    width: 50%;
    height: 60%;
    z-index: 1;
}

