---
import Card from "./Card.astro";

---

<section class='about-page'>
  <h1>Nosotras</h1>
  <Card>
    <h1>Comunidad </h1>
    <p>
      Es una comunidad de mujeres para mujeres, a fin de reforzar nuestros
      conocimientos en diferentes lenguajes de programaci贸n con el aporte de
      todas y cada una. Buscamos tener un ambiente de apoyo, respeto,
      contenci贸n y compa帽erismo. No se espera impartir cursos o bootcamps,
      si no establecer workshops y ambientes colaborativos en base a
      diferentes niveles, con el objetivos de potenciar la motivaci贸n en
      equipo.
    </p>
  </Card>
  <Card>
    <h1>Misi贸n </h1>
    <p>
      Aprenderemos mediante la colaboraci贸n en distintos proyectos de
      c贸digo abierto adaptados a los niveles de cada integrante. 隆Puedes
      incluirlos en tu porfolio para ampliar tu trabajo!
    </p>
  </Card>
  <Card>
    <h1>Valores 锔锔</h1>
    <p>
      Si bien los workshop compartidos son de car谩cter informativo y no
      cursos certificados, tendr谩n contenido de valor que ser谩n 煤tiles para
      tener el conocimiento b谩sico que luego se podr谩 profundizar de forma
      autodidacta. Entre todas crearemos rutas de aprendizaje m谩s amigables
      y no tan agobiantes.
    </p>
  </Card>
</section>
<style>
  .about-page{
    min-height: fit-content;
    height: 500px;
    display: flex;
    gap: 2rem;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
  }


  @media(max-width: 768px){
      .about-page{
          display: block;
      }
  }
</style>
