:root {
    --color-primary: #F7F3ED;
    --color-secondary: #6b21a8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background: linear-gradient(0deg, #F7F3ED, #F7F3ED);
}